.job-description {
    color: #272727;
    font-size: 14px;
    line-height: 22px;
}
.section {
    background-color: #fff;
    border-radius: 4px;
    padding: 35px 25px;
    margin-bottom: 25px;
}